<div class="bg-neutrals-white-bone">
  <div class="container pt-20 md:pt-64 pb-7">
    <div class="flex flex-col xl:flex-row justify-between pb-16">
      <div class="w-full md:w-3/5 xl:w-1/3">
        <h6 class="font-header font-bold text-lg text-primary uppercase">{{ linklists[section.settings.quick_links].title }}</h6>
        <ul class="w-4/5 list-none grid grid-cols-2 gap-2">
          {% for link in linklists[section.settings.quick_links].links %}
          <li
              class="mt-6">
              <a
                  class="text-neutrals-gray hover:text-bright-purple duration-200 transition md:py-1"
                  href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="w-full md:w-3/5 xl:w-[30%] md:pr-6 mt-12 xl:mt-0">
        <h6 class="font-header font-bold text-lg text-primary uppercase">{{ section.settings.contact_title }}</h6>
        <div class="text-neutrals-gray mt-6">{{ section.settings.contact_content }}</div>
      </div>
      <div class="w-full md:w-3/5 xl:w-[30%] mt-12 xl:mt-0">
        <h6 class="font-header font-bold text-lg text-primary uppercase">{{ section.settings.newsletter_title }}</h6>
        <render-form-subscribe list-id="{{ settings.klaviyo_list_id }}"></render-form-subscribe>
      </div>
    </div>
    <div class="border-t-2 border-gray-lighter pt-5">
      <div class="flex flex-col md:flex-row md:justify-between md:items-center">
        <div class="font-semibold text-neutrals-gray-lighter text-xs">
          {{ section.settings.copy_content }}
        </div>
        <ul class="list-none flex flex-col md:flex-row pt-1 md:pt-0">
          {% for link in linklists[section.settings.legal_links].links %}
          <li class="md:ml-14">
              <a
                  class="font-semibold text-neutrals-gray-lighter hover:text-bright-purple duration-200 transition text-xs"
                  href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Quick Links"
    },
    {
      "type": "link_list",
      "id": "quick_links",
      "label": "Quick Links"
    },
    {
      "type": "header",
      "content": "Get in Touch"
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Title"
    },
    {
     "type": "richtext",
     "id": "contact_content",
     "label": "Content"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Legal Links"
    },
    {
      "type": "link_list",
      "id": "legal_links",
      "label": "Legal Links"
    },
    {
      "type": "text",
      "id": "copy_content",
      "label": "Copy"
    }
  ],
  "presets": [
      {
          "name": "Footer"
      }
  ]
}
{% endschema %}
