<div style="background-color: {{ section.settings.announcement_color }}">
  <div class="container text-center py-2">
    <a href="{{ section.settings.announcement_link }}" class="text-sm font-header font-semibold" style="color: {{ section.settings.announcement_text_color }}">{{ section.settings.announcement_content }}</a>
  </div>
</div>

<renderless-header v-slot="{ cartItems, toggleCart, toggleMenu, isMenuOpen }">
    <div class="{% if template == 'index' %} bg-bright-lila {% else %} bg-neutrals-white-bone {% endif %} lg:bg-neutrals-white-bone">
      <div class="container py-9 hidden lg:flex justify-between items-center">
        <ul class="flex w-1/3">
          {% for link in linklists[section.settings.menu_header].links %}
            <li class="mr-12">
              <a href="{{ link.url }}" class="font-header font-semibold text-primary hover:text-bright-purple duration-200 transition">{{ link.title }}</a>
           </li>
          {% endfor %}
        </ul>
        <div>
          <a href="/">
            <svg class="w-40 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 160 27"><g fill="#4E4E74" clip-path="url(#a)"><path d="M18.557 11.437c1.888.177 3.417.544 4.587 1.1s2.027 1.314 2.569 2.273c.543.952.814 2.139.814 3.56 0 2.81-1.123 4.944-3.37 6.404-2.245 1.46-5.625 2.19-10.138 2.19-2.821 0-5.193-.34-7.117-1.023-1.923-.682-3.353-1.6-4.29-2.755A5.915 5.915 0 0 1 .204 19.36c0-.175.021-.484.066-.925l7.05-1.255v-.413c-1.79-.165-3.192-.493-4.208-.984a4.518 4.518 0 0 1-2.2-2.149C.47 12.693.249 11.43.249 9.841c0-1.967.505-3.618 1.516-4.95C2.775 3.558 4.23 2.55 6.132 1.866 8.042 1.19 10.337.85 13.017.85c2.105-.03 4.203.232 6.236.777 1.816.517 3.293 1.324 4.43 2.422a6.72 6.72 0 0 1 2.018 4.133c.036.185.059.373.067.562l-7.215 2.248.004.446ZM10.18 9.141c-.29.02-.57.111-.816.264a.653.653 0 0 0-.23.545c0 .31.192.552.577.728.384.175 1.076.313 2.075.413 1 .098 2.45.17 4.35.214-.22-1.496-1.643-2.245-4.268-2.247a12.956 12.956 0 0 0-1.688.073v.01Zm5.667 10.016c.36-.017.713-.107 1.037-.264a.574.574 0 0 0 .289-.514.872.872 0 0 0-.487-.8c-.324-.183-.974-.323-1.951-.422-.977-.098-2.509-.18-4.597-.248-.069.233-.118.47-.147.71a1.266 1.266 0 0 0 .27.943c.205.231.575.402 1.113.512.762.128 1.534.183 2.306.165a21.27 21.27 0 0 0 2.167-.092v.01ZM33.036 25.446a8.738 8.738 0 0 1-4.216-4.274c-.903-1.922-1.36-4.409-1.373-7.462.012-2.7.547-5.005 1.606-6.918a10.538 10.538 0 0 1 4.416-4.339c1.883-.98 4.048-1.47 6.497-1.47 3.099 0 5.608.463 7.529 1.388a8.717 8.717 0 0 1 4.234 4.273c.9 1.924 1.35 4.41 1.35 7.462 0 2.645-.54 4.926-1.623 6.844a10.884 10.884 0 0 1-4.471 4.38c-1.901 1.002-4.065 1.503-6.491 1.503-3.06 0-5.547-.462-7.458-1.387Zm9.068-8.083c.401-.607.602-1.692.602-3.257 0-1.663-.223-2.84-.667-3.528-.445-.689-1.112-1.033-2.002-1.033-1.449 0-2.185 1.388-2.208 4.165.011 1.664.242 2.84.692 3.529a2.221 2.221 0 0 0 1.977 1.033 1.839 1.839 0 0 0 1.606-.91ZM57.555 24.263c-1.97-1.802-2.956-4.372-2.956-7.71V1.512h9.884v14.777c0 .838.161 1.417.484 1.736.324.319.8.48 1.426.48.626 0 1.1-.162 1.426-.48.325-.319.484-.898.484-1.736V1.511h9.884v15.043c0 3.34-.985 5.91-2.955 7.711-1.97 1.801-4.917 2.702-8.839 2.702-3.92-.001-6.865-.903-8.838-2.704ZM106.603 23.899c.154.674.416 1.318.774 1.908v.496H96.768a6.14 6.14 0 0 1-.477-1.808 21.83 21.83 0 0 1-.147-2.826c0-.704-.09-1.236-.27-1.594a1.36 1.36 0 0 0-.751-.71c-.416-.13-.85-.19-1.285-.175h-3.592v7.107h-9.884V1.504h14.463a19 19 0 0 1 5.922.852c1.73.567 3.097 1.443 4.103 2.627 1.005 1.185 1.507 2.66 1.506 4.423 0 1.719-.393 3.077-1.177 4.074-.784.997-2.119 1.587-4.003 1.77v.431a6.523 6.523 0 0 1 2.891 1.034 4.958 4.958 0 0 1 1.73 2.003c.379.831.57 1.737.559 2.652-.015.85.068 1.698.247 2.529ZM90.246 9.774v2.81h3.59c.747 0 1.318-.104 1.714-.313a1.086 1.086 0 0 0 .588-1.04c0-.575-.14-.96-.42-1.158a1.915 1.915 0 0 0-1.127-.299h-4.345ZM126.254 11.437c1.888.177 3.418.544 4.589 1.1 1.172.556 2.025 1.31 2.561 2.263.543.959.815 2.149.816 3.57 0 2.81-1.123 4.944-3.369 6.404-2.246 1.46-5.626 2.19-10.139 2.19-2.822 0-5.194-.34-7.116-1.023-1.922-.682-3.352-1.6-4.291-2.755a5.913 5.913 0 0 1-1.394-3.825c0-.175.021-.484.064-.925l7.06-1.255v-.413c-1.788-.166-3.191-.494-4.208-.984a4.517 4.517 0 0 1-2.199-2.149c-.451-.943-.676-2.208-.676-3.794 0-1.967.505-3.618 1.516-4.95 1.01-1.333 2.471-2.341 4.383-3.025 1.91-.677 4.205-1.016 6.885-1.017 2.104-.03 4.202.232 6.234.777 1.817.517 3.295 1.324 4.432 2.422a6.738 6.738 0 0 1 2.018 4.133c.035.185.056.374.065.562l-7.215 2.248-.016.446Zm-8.375-2.296c-.289.02-.569.111-.816.264a.658.658 0 0 0-.23.545c0 .309.197.55.577.728.38.177 1.075.314 2.075.413 1 .098 2.449.171 4.349.214-.221-1.496-1.643-2.245-4.267-2.247a12.942 12.942 0 0 0-1.688.073v.01Zm5.667 10.016c.36-.018.713-.108 1.038-.264a.58.58 0 0 0 .288-.514.871.871 0 0 0-.487-.8c-.322-.183-.976-.323-1.961-.422-.984-.098-2.516-.18-4.594-.248a4.41 4.41 0 0 0-.149.71 1.255 1.255 0 0 0 .272.943c.196.23.573.394 1.112.512.762.128 1.534.183 2.306.165.726.006 1.452-.024 2.175-.092v.01ZM159.233 26.304h-23.424V1.51h23.358v7.934h-13.475v1.993h12.551v4.958h-12.551v1.984h13.541v7.924Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h159.028v26.115H0z" transform="translate(.206 .85)"/></clipPath></defs></svg>
          </a>
        </div>
        <ul class="flex w-1/3 justify-end">
          <li class="mr-12">
            <a href="{{ routes.account_url }}" class="font-header font-semibold text-primary hover:text-bright-purple duration-200 transition">Account</a>
          </li>
          <li class="mr-12">
            <a href="/pages/referrals" class="font-header font-semibold text-bright-lila bg-primary hover:bg-bright-purple duration-200 transition px-3 py-3 rounded-l-3xl rounded-br-3xl">Get $10</a>
          </li>
          <li class="flex items-center cursor-pointer" @click="toggleCart">
            <img src="{{ 'icon-cart.static.png' | asset_img_url: '300x' }}" class="w-6" alt="icon" />
            <span class="font-header font-semibold text-primary ml-1 block">{% raw %} {{ cartItems }} {% endraw %}</span>
          </li>
        </ul>
      </div>
      <div class="container block lg:hidden">
        <div class="flex items-center justify-between py-7">
          <div class="ml-5"></div>
          <a href="/">
            <svg class="w-32 mx-auto"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 160 27"><g fill="#4E4E74" clip-path="url(#a)"><path d="M18.557 11.437c1.888.177 3.417.544 4.587 1.1s2.027 1.314 2.569 2.273c.543.952.814 2.139.814 3.56 0 2.81-1.123 4.944-3.37 6.404-2.245 1.46-5.625 2.19-10.138 2.19-2.821 0-5.193-.34-7.117-1.023-1.923-.682-3.353-1.6-4.29-2.755A5.915 5.915 0 0 1 .204 19.36c0-.175.021-.484.066-.925l7.05-1.255v-.413c-1.79-.165-3.192-.493-4.208-.984a4.518 4.518 0 0 1-2.2-2.149C.47 12.693.249 11.43.249 9.841c0-1.967.505-3.618 1.516-4.95C2.775 3.558 4.23 2.55 6.132 1.866 8.042 1.19 10.337.85 13.017.85c2.105-.03 4.203.232 6.236.777 1.816.517 3.293 1.324 4.43 2.422a6.72 6.72 0 0 1 2.018 4.133c.036.185.059.373.067.562l-7.215 2.248.004.446ZM10.18 9.141c-.29.02-.57.111-.816.264a.653.653 0 0 0-.23.545c0 .31.192.552.577.728.384.175 1.076.313 2.075.413 1 .098 2.45.17 4.35.214-.22-1.496-1.643-2.245-4.268-2.247a12.956 12.956 0 0 0-1.688.073v.01Zm5.667 10.016c.36-.017.713-.107 1.037-.264a.574.574 0 0 0 .289-.514.872.872 0 0 0-.487-.8c-.324-.183-.974-.323-1.951-.422-.977-.098-2.509-.18-4.597-.248-.069.233-.118.47-.147.71a1.266 1.266 0 0 0 .27.943c.205.231.575.402 1.113.512.762.128 1.534.183 2.306.165a21.27 21.27 0 0 0 2.167-.092v.01ZM33.036 25.446a8.738 8.738 0 0 1-4.216-4.274c-.903-1.922-1.36-4.409-1.373-7.462.012-2.7.547-5.005 1.606-6.918a10.538 10.538 0 0 1 4.416-4.339c1.883-.98 4.048-1.47 6.497-1.47 3.099 0 5.608.463 7.529 1.388a8.717 8.717 0 0 1 4.234 4.273c.9 1.924 1.35 4.41 1.35 7.462 0 2.645-.54 4.926-1.623 6.844a10.884 10.884 0 0 1-4.471 4.38c-1.901 1.002-4.065 1.503-6.491 1.503-3.06 0-5.547-.462-7.458-1.387Zm9.068-8.083c.401-.607.602-1.692.602-3.257 0-1.663-.223-2.84-.667-3.528-.445-.689-1.112-1.033-2.002-1.033-1.449 0-2.185 1.388-2.208 4.165.011 1.664.242 2.84.692 3.529a2.221 2.221 0 0 0 1.977 1.033 1.839 1.839 0 0 0 1.606-.91ZM57.555 24.263c-1.97-1.802-2.956-4.372-2.956-7.71V1.512h9.884v14.777c0 .838.161 1.417.484 1.736.324.319.8.48 1.426.48.626 0 1.1-.162 1.426-.48.325-.319.484-.898.484-1.736V1.511h9.884v15.043c0 3.34-.985 5.91-2.955 7.711-1.97 1.801-4.917 2.702-8.839 2.702-3.92-.001-6.865-.903-8.838-2.704ZM106.603 23.899c.154.674.416 1.318.774 1.908v.496H96.768a6.14 6.14 0 0 1-.477-1.808 21.83 21.83 0 0 1-.147-2.826c0-.704-.09-1.236-.27-1.594a1.36 1.36 0 0 0-.751-.71c-.416-.13-.85-.19-1.285-.175h-3.592v7.107h-9.884V1.504h14.463a19 19 0 0 1 5.922.852c1.73.567 3.097 1.443 4.103 2.627 1.005 1.185 1.507 2.66 1.506 4.423 0 1.719-.393 3.077-1.177 4.074-.784.997-2.119 1.587-4.003 1.77v.431a6.523 6.523 0 0 1 2.891 1.034 4.958 4.958 0 0 1 1.73 2.003c.379.831.57 1.737.559 2.652-.015.85.068 1.698.247 2.529ZM90.246 9.774v2.81h3.59c.747 0 1.318-.104 1.714-.313a1.086 1.086 0 0 0 .588-1.04c0-.575-.14-.96-.42-1.158a1.915 1.915 0 0 0-1.127-.299h-4.345ZM126.254 11.437c1.888.177 3.418.544 4.589 1.1 1.172.556 2.025 1.31 2.561 2.263.543.959.815 2.149.816 3.57 0 2.81-1.123 4.944-3.369 6.404-2.246 1.46-5.626 2.19-10.139 2.19-2.822 0-5.194-.34-7.116-1.023-1.922-.682-3.352-1.6-4.291-2.755a5.913 5.913 0 0 1-1.394-3.825c0-.175.021-.484.064-.925l7.06-1.255v-.413c-1.788-.166-3.191-.494-4.208-.984a4.517 4.517 0 0 1-2.199-2.149c-.451-.943-.676-2.208-.676-3.794 0-1.967.505-3.618 1.516-4.95 1.01-1.333 2.471-2.341 4.383-3.025 1.91-.677 4.205-1.016 6.885-1.017 2.104-.03 4.202.232 6.234.777 1.817.517 3.295 1.324 4.432 2.422a6.738 6.738 0 0 1 2.018 4.133c.035.185.056.374.065.562l-7.215 2.248-.016.446Zm-8.375-2.296c-.289.02-.569.111-.816.264a.658.658 0 0 0-.23.545c0 .309.197.55.577.728.38.177 1.075.314 2.075.413 1 .098 2.449.171 4.349.214-.221-1.496-1.643-2.245-4.267-2.247a12.942 12.942 0 0 0-1.688.073v.01Zm5.667 10.016c.36-.018.713-.108 1.038-.264a.58.58 0 0 0 .288-.514.871.871 0 0 0-.487-.8c-.322-.183-.976-.323-1.961-.422-.984-.098-2.516-.18-4.594-.248a4.41 4.41 0 0 0-.149.71 1.255 1.255 0 0 0 .272.943c.196.23.573.394 1.112.512.762.128 1.534.183 2.306.165.726.006 1.452-.024 2.175-.092v.01ZM159.233 26.304h-23.424V1.51h23.358v7.934h-13.475v1.993h12.551v4.958h-12.551v1.984h13.541v7.924Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h159.028v26.115H0z" transform="translate(.206 .85)"/></clipPath></defs></svg>
          </a>
          <div class="cursor-pointer" @click="toggleMenu">
            <img src="{{ 'icon-menu.static.png' | asset_img_url: '300x' }}" class="" alt="icon menu" />
          </div>
        </div>
      </div>
    </div>

    <!-- here goes mobile menu -->
    <div class="bg-black/70 fixed inset-0 z-50 opacity-0 pointer-events-none transition-opacity" :class="{ 'opacity-100 pointer-events-auto': isMenuOpen }">
      <div style="background-color: {{ section.settings.announcement_color }}">
        <div class="container text-center py-2">
          <a href="{{ section.settings.announcement_link }}" class="text-sm font-semibold" style="color: {{ section.settings.announcement_text_color }}">{{ section.settings.announcement_content }}</a>
        </div>
      </div>
      <div class="bg-primary px-10 py-6 flex flex-col h-[calc(100vh-40px)]">
        <div class="flex items-center justify-between">
          <div class="ml-5"></div>
          <a href="/"><img src="{{ 'logo-white.static.png' | asset_img_url: '300x' }}" class="w-32 mx-auto" alt="logo" /></a>
          <div class="cursor-pointer" @click="toggleMenu">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.63672 1.63672L8.00068 8.00068M8.00068 8.00068L14.3646 14.3646M8.00068 8.00068L14.3646 1.63672M8.00068 8.00068L1.63672 14.3646" stroke="#FFFDF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="flex flex-col justify-between h-full flex-1">
          <ul class="pt-12">
            <li class="pb-7"><a href="/collections/shop-all" class="font-bold text-white text-3xl">Shop</a></li>
            <li class="pb-7"><a href="/pages/about" class="font-bold text-white text-3xl">About</a></li>
            <li class="pb-7"><a href="/account/" class="font-bold text-white text-3xl">Account</a></li>
            <li class="pb-7">
              <button class="flex" @click="toggleCart">
                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M27.7499 24.2332C27.3062 27.0727 24.8605 29.166 21.9865 29.166L10.0968 29.166C7.22284 29.166 4.77709 27.0727 4.33341 24.2332L2.5105 12.5665C1.95772 9.02878 4.69321 5.83268 8.2739 5.83268L23.8094 5.83268C27.3901 5.83269 30.1256 9.02878 29.5728 12.5666L27.7499 24.2332Z" fill="#FFFDF8"/>
                  <path d="M20.416 10.209C20.416 12.6252 18.4573 14.584 16.041 14.584C13.6248 14.584 11.666 12.6252 11.666 10.209" stroke="#4E4E74" stroke-width="2.91667"/>
                </svg>
                <span class="font-bold text-white text-3xl ml-1.5 block">Cart {% raw %} ({{ cartItems ? cartItems : 0 }}) {% endraw %}</span>
              </button>
            </li>
          </ul>
          <a href="/pages/referrals" class="bg-white w-full text-center font-semibold text-primary px-3 py-3 rounded-l-3xl rounded-br-3xl">Get 10%</a>
        </div>

      </div>
    </div>
</renderless-header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "text",
      "id": "announcement_content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "announcement_color",
      "label": "Background Color",
      "default": "#4E4E74"
    },
    {
      "type": "color",
      "id": "announcement_text_color",
      "label": "Text Color",
      "default": "#EFD5E5"
    },
    {
      "type": "link_list",
      "id": "menu_header",
      "label": "Header Menu"
    }
  ],
  "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}
