<div style="background-color: {{ section.settings.background_color }}" class="hidden lg:block">
    <div class="container py-8 flex items-center">
        <div class="w-1/2">
            <div class="relative">
                <img src="{{ section.settings.desktop_image| img_url: '1000x' }}" class="max-h-180 rounded-tl-6xl rounded-br-6xl object-cover" alt="image">
                <div class="absolute bottom-3 right-3">
                    <img src="{{ section.settings.logo_image| img_url: '1000x' }}" class="object-cover" alt="image">
                </div>
            </div>
        </div>
        <div class="w-1/2 ml-16">
            <h1 class="font-bold text-primary text-6xl">{{ section.settings.title }}</h1>
            <div class="font-semibold text-neutrals-gray text-lg mt-5">
                {{ section.settings.content }}
            </div>
            <a href="{{ section.settings.btn_url }}" class="font-bold text-xl text-bright-lila bg-primary px-10 py-3 rounded-l-5xl rounded-br-5xl inline-block mt-8">{{ section.settings.btn_text }}</a>
        </div>
    </div>
</div>


<div style="background-color: {{ section.settings.background_color }}" class="block lg:hidden">
    <div class="container pb-8 relative">
        <div>
            <img src="{{ section.settings.mobile_image| img_url: '1000x' }}" class="w-full max-h-140 rounded-tl-6xl rounded-br-6xl object-cover" alt="image">
        </div>
        <div class="absolute top-44 lg:top-64 left-8 md:left-16 right-8 md:right-16 bottom-0">
            <h1 class="font-bold text-bright-lila text-4xl md:text-5xl">{{ section.settings.title }}</h1>
            <div class="font-semibold text-white md:text-lg mt-5">
                {{ section.settings.content }}
            </div>
            <a href="{{ section.settings.btn_url }}" class="font-bold text-xl text-bright-lila bg-primary px-10 py-3 rounded-l-5xl rounded-br-5xl inline-block mt-8">{{ section.settings.btn_text }}</a>
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Hero Homepage",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#EFD5E5"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
           "type": "richtext",
           "id": "content",
           "label": "Content"
        },
        {
           "type": "text",
           "id": "btn_text",
           "label": "Button text"
        },
        {
           "type": "url",
           "id": "btn_url",
           "label": "Button link"
        },
        {
           "type": "image_picker",
           "id": "desktop_image",
           "label": "Desktop Image"
        },
        {
           "type": "image_picker",
           "id": "mobile_image",
           "label": "Mobile Image"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
         }
    ],
    "presets": [
        {
            "name": "Hero Homepage",
            "category": "Custom layouts"
        }
    ]
}

{% endschema %}
