<div class="bg-neutrals-white-bone">
    <div class="container pt-20 lg:pt-16 md:pb-20 lg:pb-16 flex flex-col lg:flex-row items-center">
        <div class="lg:w-1/2 lg:mr-16">
            <h2 class="font-header font-black text-primary text-3xl md:text-4xl lg:text-5xl">{{ section.settings.title }}</h2>
            <div class="font-semibold text-primary text-lg mt-8 leading-9 md:leading-9 xl:leading-9">
                {{ section.settings.content }}
            </div>
        </div>
        <div class="lg:w-1/2 mt-10 lg:mt-0">
            <img src="{{ section.settings.desktop_image| img_url: '1000x' }}" class="min-h-144 rounded-tl-5xl rounded-br-5xl hidden lg:block" alt="image">

            <img src="{{ section.settings.mobile_image| img_url: '1000x' }}" class="min-h-88 md:min-h-104 rounded-tl-5xl rounded-br-5xl block lg:hidden" alt="image">
        </div>
    </div>
</div>

<div class="hidden lg:flex">
    <div class="w-1/3 min-h-160 bg-center bg-cover bg-no-repeat" style="background-image: url({{ section.settings.bg_image_01| img_url: '1000x' }});"></div>
    <div class="w-2/3 min-h-160 bg-center bg-cover bg-no-repeat" style="background-image: url({{ section.settings.bg_image_02| img_url: '1000x' }});"></div>
</div>

{% schema %}

{
    "name": "About",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
           "type": "richtext",
           "id": "content",
           "label": "Content"
        },
        {
           "type": "image_picker",
           "id": "desktop_image",
           "label": "Desktop Image"
        },
        {
           "type": "image_picker",
           "id": "mobile_image",
           "label": "Mobile Image"
        },
        {
            "type": "image_picker",
            "id": "bg_image_01",
            "label": "Background Image First"
        },
        {
            "type": "image_picker",
            "id": "bg_image_02",
            "label": "Background Image Second"
        }
    ],
    "presets": [
        {
            "name": "Images with Text",
            "category": "Custom Sections"
        }
    ]
}

{% endschema %}
