<div class="bg-neutrals-white-bone pt-10 md:pt-24">
    <div class="container">
        <div class="w-full lg:w-11/12">
            <span class="w-11/12 md:w-full mx-auto md:mx-0 font-semibold text-sm text-neutrals-gray-light block">
                <a href="/">Home</a> /
                <span>{{ product.title }}</span>
            </span>
            <div class="flex flex-col lg:flex-row justify-between mt-12">
                <div class="w-full lg:w-2/5">
                    <renderless-product-images v-slot="{ setThumbsSwiper, thumbsSwiper }">
                        <div>
                            {% if product.images.size > 1 %}
                            <div
                                style="--swiper-navigation-color: #333; --swiper-pagination-color: #333"
                                class="swiper product-featured-image"
                            >
                                <div class="swiper-wrapper">
                                    {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image | img_url: '1000x' }}" class="w-full h-84 md:h-120 object-cover" />
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-nexthttps://trysourse.myshopify.com/admin/themes/127152128188/editor"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                            <div thumbsSlider="" class="swiper product-thumbnails mt-8">
                                <div class="swiper-wrapper ">
                                    {% for image in product.images %}
                                    <div class="swiper-slide mr-3 lg:mr-6">
                                        <img src="{{ image | img_url: '300x' }}" class="h-16 md:h-28 w-full object-cover" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                                <img src="{{ product.featured_image | img_url: '1000x' }}" alt="" class="w-full" />
                            {% endif %}
                        </div>
                    </renderless-product-images>
                </div>
                <div class="lg:w-1/2 mt-12 lg:mt-0">
                    <div class="flex flex-col md:flex-row justify-between items-center">
                        <h2 class="font-header font-bold  text-4xl md:text-5xl text-bright-pink">{{ product.title }}</h2>
                        <div>
                            {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
                        </div>
                    </div>
                    <renderless-product-tabs v-slot="{
                        changeTab, activeTab
                     }">
                        <div class="flex gap-7 md:gap-10 mt-10 md:mt-16">
                            <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4  tracking-widest border-transparent cursor-pointer"
                            :class="activeTab == 'description' ? '!border-bright-pink' : null" @click="changeTab('description')">Description</div>
                            {% if product.metafields.product_tabs.how_title %}
                                <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4 tracking-widest border-transparent cursor-pointer" :class="activeTab == 'how' ? '!border-bright-pink' : null" @click="changeTab('how')">How to use</div>
                            {% endif %}
                            {% if product.metafields.product_tabs.benefit_name.size > 0 %}
                                <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4 tracking-widest border-transparent cursor-pointer" :class="activeTab == 'benefits' ? '!border-bright-pink' : null" @click="changeTab('benefits')">Benefits</div>
                            {% endif %}
                        </div>
                        {%- comment -%}TAB DESCRIPTION CONTENT{%- endcomment -%}
                        <div v-if="activeTab == 'description'" class="font-header font-semibold text-xl md:text-2xl text-neutrals-gray mt-10">{{ product.content }}</div>
                        {%- comment -%}TAB HOW TO USE CONTENT{%- endcomment -%}
                        <div v-else-if="activeTab == 'how'" class="md:w-5/6 mt-10 md:mt-16 flex flex-col md:flex-row items-center md:ml-8">
                            <div class="w-32 h-32 p-2.5 flex items-center justify-center bg-bright-pink">
                                <div>
                                  <img src="{{ product.metafields.product_tabs.how_image[0].src }}" class="rounded-tl-4xl rounded-br-4xl" alt="image">
                                </div>
                            </div>
                            <div class="md:w-3/4 md:ml-5 mt-5 md:mt-0">
                                <div class="flex">
                                    <div class="font-header font-semibold text-xl md:text-2xl text-neutrals-gray product-tab-how-title">
                                        {{ product.metafields.product_tabs.how_title }}
                                    </div>
                                </div>
                                <div class="font-semibold text-lg text-neutrals-gray-light mt-3">
                                    {{ product.metafields.product_tabs.how_description }}
                                </div>
                            </div>

                        </div>
                        {%- comment -%}TAB BENEFITS CONTENT{%- endcomment -%}
                        <div  v-else-if="activeTab == 'benefits'" class="mt-10 md:mt-14">
                            {% if product.title == 'Glow Bites' %}
                                <span class="font-semibold text-lg text-neutrals-gray">After 15 days:</span>
                            {% endif %}
                            {% for benefit in product.metafields.product_tabs.benefit_name %}
                            <div class="flex items-center mt-4">
                                <img src="{{ product.metafields.product_tabs.benefit_icon[forloop.index0][0].src }}" alt="" class="h-8 w-8 object-fill">
                                <span class="block ml-5 font-semibold text-lg text-neutrals-gray">{{ benefit }}</span>
                            </div>
                            {% endfor %}
                            {% if product.title == 'Glow Bites' %}
                                <span class="font-semibold text-sm text-neutrals-gray block mt-8">*Results from a randomized controlled clinical study</span>
                            {% endif %}
                            {% if product.title == 'Mood Bites' %}
                                <span class="font-semibold text-sm text-neutrals-gray block mt-8">*Results from a clinical study after two weeks</span>
                                <span class="font-semibold text-sm text-neutrals-gray block mt-2">**Results from a clinical study after eight weeks</span>
                        {% endif %}
                        </div>
                    </renderless-product-tabs>
                    <div>
                        <render-product-form :product="{{ product | json | escape | replace: '"', "'" }}" color="{{ product.metafields.product.accent_color | remove: '#'}}"></render-product-form>
                        <div class="text-sm text-neutrals-gray-light mt-8">
                            Free Shipping. Cancel whenever.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if product.metafields.product.text_image_title %}
   <div class="bg-neutrals-white-bone pt-24 md:pt-36 xl:pt-24">
    <div class="container">
        <div class="lg:w-5/6 mx-auto flex flex-col-reverse md:flex-row justify-between items-center">
            <div class="md:w-[55%] font-header font-semibold text-neutrals-gray text-3xl md:text-4xl lg:text-5xl mt-5 md:mt-0">
                {{ product.metafields.product.text_image_title }}
            </div>
            <div class="w-[45%] md:w-auto mx-auto ">
                <img src="{{ product.metafields.product.text_image_image[0].src }}" alt="image" />
            </div>
        </div>
    </div>
</div>
{% endif %}


{% if product.metafields.product.columns_two_title.size > 0 %}
<div class="bg-neutrals-white-bone">
    <div class="container pt-24 md:pt-48">
        <div class="w-full mx-auto {% if product.metafields.product.columns_two_title.size > 1 %}lg:w-2/3{% else %}lg:w-1/2{% endif %}">
            <div class="flex flex-col md:flex-row gap-14 md:gap-16 lg:gap-24">
                {% for column in product.metafields.product.columns_two_title %}
                    <div class="flex-1">
                        <div>
                            <img src="{{ product.metafields.product.columns_two_image[forloop.index0][0].src }}" class="border-4 border-bright-pink rounded-full mx-auto w-56 h-56" alt="image">
                        </div>
                        <h4 class="font-header font-bold text-bright-pink mt-5 text-center md:text-left text-2xl">{{ column }}</h4>
                        <div class="text font-semibold text-[#858585] pt-3">
                            {{ product.metafields.product.columns_two_content[forloop.index0] }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if product.metafields.product.columns_three_title.size > 0 %}
<div class="bg-neutrals-white-bone">
    <div class="container pt-24 md:pt-48">
        <div class="w-full  mx-auto {% if product.metafields.product.columns_three_title.size == 2 %} lg:w-2/3 {% else %} lg:w-11/12 {% endif %}">
            <div class="flex flex-col md:flex-row justify-center gap-14 md:gap-10 lg:gap-24">
                {% for column in product.metafields.product.columns_three_title %}
                    <div class="flex-1 text-center">
                        <div>
                            <img src="{{ product.metafields.product.columns_three_image[forloop.index0][0].src }}" class="border-4 border-bright-pink rounded-full mx-auto w-32 h-32" alt="image">
                        </div>
                        <h4 class="font-header font-bold text-bright-pink mt-5 text-lg">{{ column }}</h4>
                        <div class="text font-semibold text-[#858585] pt-3">
                            {{ product.metafields.product.columns_three_content[forloop.index0] }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if product.metafields.product.why_title %}
<div class="bg-neutrals-white-bone pt-24 md:pt-48">
    <div class="container">
        <div class="w-full md:w-3/4 lg:w-1/2 mx-auto">
            <div class="relative">
                <div class="transform -rotate-90 text-vertical -translate-y-1/2 absolute -left-12 md:-left-8 top-1/2 bottom-0 font-header font-bold text-bright-pink text-2xl uppercase">
                    {{ product.metafields.product.why_title }}
                </div>
                <div class="text font-semibold text-neutrals-gray md:text-lg ml-16 md:ml-24">
                    {{ product.metafields.product.why_content }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if product.metafields.product.community_username.size > 0 %}
<div class="bg-neutrals-white-bone">
    <div class="container pt-24 md:pt-36">
        <div class="lg:w-11/12 mx-auto">
            <h2 class="font-header font-black text-primary text-3xl md:text-4xl lg:text-5xl">{{ product.metafields.product.community_title }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-10 pt-20">
                {% for item in product.metafields.product.community_username %}
                    <div>
                        <div>
                            <img src="{{ product.metafields.product.community_image[forloop.index0][0].src }}" class="w-full" alt="image">
                        </div>
                        <a href="{{ product.metafields.product.community_link[forloop.index0] }}" class="font-header font-black text-lg text-neutrals-gray block mt-5">{{ item }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
