<div class="bg-neutrals-white-bone pt-10 md:pt-24">
    <div class="container">
        <div class="w-full lg:w-11/12">
            <span class="w-11/12 md:w-full mx-auto md:mx-0 font-semibold text-sm text-neutrals-gray-light block">
                <a href="/">Home</a> /
                <span>{{ product.title }}</span>
            </span>
            <div class="flex flex-col lg:flex-row justify-between mt-12">
                <div class="w-full lg:w-2/5">
                    <div class="relative w-full lg:mt-20">
                        <div class="absolute -bottom-16 -left-3 hidden lg:block">
                            <img src="{{ 'low-sugar.static.png' | asset_img_url: '1000x' }}" class="w-full" alt="product image" />
                        </div>
                        <div>
                            <img src="{{ 'product-image-pdp.static.png' | asset_img_url: '1000x' }}" class="w-full" alt="image" />
                        </div>
                    </div>
                    <div class="w-1/2 lg:w-2/3 mx-auto flex mt-10 lg:mt-24">
                        <div class="mr-3 lg:mr-6">
                            <img src="{{ 'product-01.static.png' | asset_img_url: '1000x' }}" class="w-full" alt="product image" />
                        </div>
                        <div class="mr-3 lg:mr-6">
                            <img src="{{ 'product-02.static.png' | asset_img_url: '1000x' }}" class="w-full" alt="product image" />
                        </div>
                        <div class="lg:mr-6">
                            <img src="{{ 'product-03.static.png' | asset_img_url: '1000x' }}" class="w-full" alt="product image" />
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/2 mt-12 lg:mt-0">
                    <div class="flex flex-col md:flex-row justify-between">
                        <h2 class="font-header font-bold text-bright-pink text-4xl md:text-5xl">{{ product.title }}</h2>
                        <div class="flex items-center mt-5">
                            {% for item in (1..5) %}
                            <span class="block">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="fill: #EF995E;" ><path fill="none" d="M0 0h24v24H0z"/><path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7z"/></svg>
                            </span>
                            {% endfor %}
                            <a href="/" class="font-semibold text-sm text-bright-orange underline ml-2">301 Ratings</a>
                        </div>
                    </div>
                    <renderless-product-tabs v-slot="{
                        changeTab, activeTab
                     }">
                        <div class="flex gap-7 md:gap-10 mt-10 md:mt-16">
                            <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4  tracking-widest border-transparent cursor-pointer"
                            :class="activeTab == 'description' ? '!border-bright-pink' : null" @click="changeTab('description')">Description</div>
                            {% if product.metafields.product_tabs.how_title %}
                                <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4 tracking-widest border-transparent cursor-pointer" :class="activeTab == 'how' ? '!border-bright-pink' : null" @click="changeTab('how')">How to use</div>
                            {% endif %}
                            {% if product.metafields.product_tabs.benefit_name.size > 0 %}
                                <div class="font-bold text-xs text-neutrals-gray uppercase pb-2 border-b-4 tracking-widest border-transparent cursor-pointer" :class="activeTab == 'benefits' ? '!border-bright-pink' : null" @click="changeTab('benefits')">Benefits</div>
                            {% endif %}
                        </div>
                        {%- comment -%}TAB DESCRIPTION CONTENT{%- endcomment -%}
                        <div v-if="activeTab == 'description'" class="font-header font-semibold text-xl md:text-2xl text-neutrals-gray mt-10">{{ product.content }}</div>
                        {%- comment -%}TAB HOW TO USE CONTENT{%- endcomment -%}
                        <div v-else-if="activeTab == 'how'" class="md:w-5/6 mt-10 md:mt-16 flex flex-col md:flex-row items-center md:ml-8">
                            <div class="w-32 h-32 p-2.5 flex items-center justify-center bg-bright-pink">
                                <div>
                                  <img src="{{ product.metafields.product_tabs.how_image[0].src }}" class="rounded-tl-4xl rounded-br-4xl" alt="image">
                                </div>
                            </div>
                            <div class="md:w-3/4 md:ml-5 mt-5 md:mt-0">
                                <div class="flex">
                                    <div class="font-header font-semibold text-xl md:text-2xl text-neutrals-gray ml-2 py-0.5 product-tab-how-title">
                                        {{ product.metafields.product_tabs.how_title }}
                                    </div>
                                </div>
                                <div class="font-semibold text-lg text-neutrals-gray-light mt-3">
                                    {{ product.metafields.product_tabs.how_description }}
                                </div>
                            </div>

                        </div>
                        {%- comment -%}TAB BENEFITS CONTENT{%- endcomment -%}
                        <div  v-else-if="activeTab == 'benefits'" class="mt-10 md:mt-16">
                            {% for benefit in product.metafields.product_tabs.benefit_name %}
                            <div class="flex items-center mt-4">
                                <img src="{{ product.metafields.product_tabs.benefit_icon[forloop.index0][0].src }}" alt="" class="h-8 w-8 object-fill">
                                <span class="block ml-5 font-semibold text-lg text-neutrals-gray">{{ benefit }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </renderless-product-tabs>
                    <div>
                        <render-product-form :product="{{ product | json | replace: '"', "'" }}"></render-product-form>
                        <div class="text-sm text-neutrals-gray-light mt-8">
                            Free Shipping. Cancel whenever. Ships in 1 week.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
