<div class="bg-neutrals-white-bone">
    <div class="container pt-24 md:pt-40">
        <div class="md:w-3/4 mx-auto">
            <div>
                <img src="{{ 'icon-quote-up.static.png' | asset_img_url: '300x' }}" class="w-20" alt="icon quote">
            </div>
            <div class="w-5/6 md:w-3/4 mx-auto text-center">
                <h3 class="font-semibold text-3xl text-primary">{{ section.settings.quote_content }}</h3>
            </div>
            <div>
                <img src="{{ 'icon-quote-down.static.png' | asset_img_url: '300x' }}" class="w-20 ml-auto" alt="icon quote">
            </div>
        </div>
        <div class="w-3/4 md:w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-20 items-center mt-24">
            <div class="">
                <img src="{{ section.settings.company_logo_01| img_url: '1000x' }}" class="md:border-b-4 md:pb-8 border-bright-lila max-h-14 md:max-h-24 mx-auto lg:mx-0" alt="image" >
            </div>
            <div >
                <img src="{{ section.settings.company_logo_02| img_url: '1000x' }}" alt="image" class="md:pb-8 filter grayscale max-h-14 md:max-h-24 mx-auto lg:mx-0">
            </div>
            <div>
                <img src="{{ section.settings.company_logo_03| img_url: '1000x' }}" alt="image" class="md:pb-8 filter grayscale max-h-14 md:max-h-24 mx-auto lg:mx-0">
            </div>
            <div>
                <img src="{{ section.settings.company_logo_04| img_url: '1000x' }}" alt="image" class="md:pb-8 filter grayscale max-h-14 md:max-h-24 mx-auto lg:mx-0">
            </div>
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Quote",
    "settings": [
        {
           "type": "richtext",
           "id": "quote_content",
           "label": "Content"
        },
        {
           "type": "image_picker",
           "id": "company_logo_01",
           "label": "Company Logo 01"
        },
        {
            "type": "image_picker",
            "id": "company_logo_02",
            "label": "Company Logo 03"
         },
         {
            "type": "image_picker",
            "id": "company_logo_03",
            "label": "Company Logo 03"
         },
         {
            "type": "image_picker",
            "id": "company_logo_04",
            "label": "Company Logo 04"
         }
    ],
    "presets": [
        {
            "name": "Quote",
            "category": "Custom Sections"
        }
    ]
}

{% endschema %}