<div class="container mt-16 md:mt-24">
    <div class="hidden md:block">
        {% render 'account-tabs' %}
    </div>
    <div class="block md:hidden">
        {% render 'account-tabs' %}
    </div>

    <div class="mt-12 md:mt-16">
      <renderless-addresses
        v-slot="{ visibleForm, currentlyEditedAddress, showForm, editAddress, cancelEdit }"
        :addresses="{{ customer.addresses | json | replace: '"', "'" }}"
      >
        <div>
          <div class="flex flex-col-reverse lg:grid lg:grid-cols-3 gap-4 md:gap-8">
            {% comment %} form - start {% endcomment %}
              <div class="address-form lg:col-span-2 pt-4 lg:pt-0">
                <div class=" mb-6 border-b-8 border-[#dcdade] pb-8 ">
                  <transition name="slide-from-left">
                    <div v-if="!currentlyEditedAddress" key="new">
                        <h4 class="font-semibold text-primary text-2xl">Add address</h4>
                    </div>

                    <div v-else key="edit">
                        <h4 class="font-semibold text-primary text-2xl">Add address</h4>
                    </div>
                  </transition>
                </div>

                <transition-group name="form-fade">
                  {% comment %} add button - start {% endcomment %}
                    <div
                      v-if="!visibleForm"
                      key="button-add-new-address"
                      class="flex items-center justify-center flex-1 relative"
                    >
                      <button
                        @click="showForm"
                        class="mt-9 md:mt-12 font-semibold text-white bg-primary px-6 py-1.5 rounded-2xl"
                      >
                      + Add Address
                      </button>
                    </div>
                  {% comment %} add button - end {% endcomment %}

                  {% comment %} forms - start {% endcomment %}
                    <div
                      v-show="visibleForm"
                      class="overflow-hidden"
                    >
                      <transition-group name="slide-from-left">
                        <div
                          v-show="visibleForm && !currentlyEditedAddress"
                          key="form-new"
                        >
                          {% form 'customer_address', customer.new_address %}
                            {% render 'account-address-form' %}
                          {% endform %}
                        </div>


                        {% for address in customer.addresses %}
                          <div
                            v-show="currentlyEditedAddress && currentlyEditedAddress.id === {{ address.id }}"
                            key="{{ address.id }}"
                          >
                            {% form 'customer_address', address %}
                              {% if form.posted_successfully? %}
                                {% assign translation_response = 'customer.addresses.response' | t %}

                                {% render 'layout-message',
                                  type: 'success'
                                  text: translation_response
                                  class: 'mb-8'
                                %}
                              {% endif %}

                              {% render 'account-address-form', form: form %}
                            {% endform %}
                          </div>
                        {% endfor %}
                      </transition-group>
                    </div>
                  {% comment %} forms - end {% endcomment %}
                </transition-group>
              </div>
            {% comment %} form - end {% endcomment %}

            {% comment %} addresses - start {% endcomment %}
              <div class="col-span-1">
                <div class="border-b-8 border-[#dcdade] pb-8">
                    <h4 class="font-semibold text-primary text-2xl text-right">{{ customer.addresses_count }} addresses(s)</h4>
                </div>

                <div class="space-y-6 lg:space-y-10">
                    {% for address in customer.addresses %}
                    {% if address.id != customer.default_address.id %}
                        {% continue %}
                    {% endif %}
                    <div class="mt-6 shadow p-9 z-10 relative">
                        {% if address == customer.default_address %}
                        <div class="absolute top-5 right-5">
                            <span class="font-bold text-bright-lila text-[0.625rem] bg-primary px-2 py-1.5 rounded-lg uppercase tracking-widest">Default Address</span>
                        </div>
                        {% endif %}
                        <div>
                            <div class="font-bold text-black leading-7"> {{ address | format_address }}</div>
                            <div class="flex gap-4 mt-4">
                                {%- comment -%}
                                {% if address != customer.default_address %}
                                <form
                                    method="post"
                                    action="/account/addresses/{{ address.id }}"
                                >
                                    <input type="checkbox" name="address[default]" id="AddressDefault_{{ form.id }}" value="1" checked class="hidden">

                                    <button type="submit" class="font-semibold text-bright-blue underline">
                                        Set as default
                                    </button>
                                </form>
                                {% endif %}
                                {%- endcomment -%}
                                <form
                                    method="post"
                                    action="/account/addresses/{{ address.id }}">
                                    <input type="hidden" name="_method" value="delete" />

                                    <button  type="submit" class="font-semibold text-bright-blue underline">
                                    Delete
                                    </button>
                                </form>
                                <button  class="font-semibold text-bright-blue underline" @click="editAddress({{ address.id }})">Edit</button>
                            </div>
                        </div>
                    </div>
                  {% endfor %}

                  {% for address in customer.addresses %}
                    {% if address.id == customer.default_address.id %}
                        {% continue %}
                    {% endif %}
                    <div class="mt-6 shadow p-9 z-10 relative">
                        {% if address == customer.default_address %}
                        <div class="absolute top-5 right-5">
                            <span class="font-bold text-bright-lila text-[0.625rem] bg-primary px-2 py-1.5 rounded-lg uppercase tracking-widest">Default Address</span>
                        </div>
                        {% endif %}
                        <div>
                            <div class="font-bold text-black leading-7"> {{ address | format_address }}</div>
                            <div class="flex gap-4 mt-4">
                                {%- comment -%}
                                {% if address != customer.default_address %}
                                <form
                                    method="post"
                                    action="/account/addresses/{{ address.id }}"
                                >
                                    <input type="checkbox" name="address[default]" id="AddressDefault_{{ form.id }}" value="1" checked class="hidden">

                                    <button type="submit" class="font-semibold text-bright-blue underline">
                                        Set as default
                                    </button>
                                </form>
                                {% endif %}
                                {%- endcomment -%}
                                <form
                                    method="post"
                                    action="/account/addresses/{{ address.id }}">
                                    <input type="hidden" name="_method" value="delete" />

                                    <button  type="submit" class="font-semibold text-bright-blue underline">
                                    Delete
                                    </button>
                                </form>
                                <button  class="font-semibold text-bright-blue underline" @click="editAddress({{ address.id }})">Edit</button>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% comment %} addresses - end {% endcomment %}
          </div>
        </div>
      </renderless-addresses>
    </div>
</div>
