<!doctype html>
<html lang="{{ request.locale.iso_code }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin="crossorigin">
    <link rel="preload" href="{{ 'bundle.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.js' | asset_url }}" as="script">

    <title>{{ page_title | escape }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'font' %}

    {% render 'judgeme_core' %}
    <script async src="https://app.conjured.co/shopify/referral/widget.js?shop=trysourse.myshopify.com&cmp=6093"></script>

    {{ 'bundle.css' | asset_url | stylesheet_tag }}

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}
  </head>

  <body class="bg-neutrals-white-bone">
    <div {% unless request.page_type == 'captcha' %} id="app" {% endunless %}>
      {% section 'header' %}
      {% section 'cart' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% if template != 'product' %}
        {% section 'footer' %}
      {% endif %}
    </div>

    <div>
      {% if template == 'product' %}
        <div class="pt-24 md:pt-36 container">
          {% render 'judgeme_widgets',
          widget_type: 'judgeme_review_widget',
          concierge_install: false %}
        </div>
        <div id="footer">{% section 'footer' %}</div>
      {% endif %}
    </div>

    <!-- webpack bundle -->
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>

</html>
